@font-face {
    font-family: 'Toshiba Sat 8x14';
    src: url('Web437_ToshibaSat_8x14.woff') format('woff'),
         url('Mx437_ToshibaSat_8x14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

