body {
  background-color: var(--mcontrast);
  background: radial-gradient(circle, transparent 20%, var(--mcolor) 20%, var(--mcolor) 82%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--mcolor) 20%, #e5e5f7 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#444cf7 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #444cf7 1px, var(--mcolor) 1px) -0.5px 0;
  background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
  animation: backAnim 1s linear infinite;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@keyframes backAnim {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 25px 25px;
  }
}

a::before {
  content: "🔗 ";
}

a {
  text-decoration: none;
  color: #ff8215;
  /* color: #84ffc2; */
  font-size: 80%;
  border-bottom: 2px dashed #FB46EA;
}

.scroll-container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.card {
  height: 95vh;
  width: 95vw;
  margin-left: 5px;
  padding-bottom: 5vh;
  scroll-snap-align: start;
  overflow-y: auto;
  transition: 2s;
}

/* Hide scrollbar inside cards */
.card::-webkit-scrollbar {
  display: none;
}

.hidden {
  visibility: hidden;
}

.typed {
  visibility: hidden;
}

.para {
  color: var(--mcontrast);
  font-size: 2rem;
  font-family: 'Toshiba Sat 8x14';

}

.s-para {
  color: var(--mcontrast);
  font-size: 1.5rem;
  font-family: 'Toshiba Sat 8x14';
}

.showlater {
  opacity: 0;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.anim1 .heading {
  font-family: 'Toshiba Sat 8x14';

  font-weight: bolder;
  font-size: 50px;
  height: 150px;
  color: var(--mcontrast);
}

@keyframes setVisible {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.requestPortrait {
  display: none;
}

@media only screen and (max-height: 500px) {
  .requestPortrait {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #1C1E4B;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
  }
  
  .scroll-container {
    display: none;
  }
}