body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: var(--mcolor);
    color: var(--mcontrast);
    transition: 500ms;

    overflow-x: hidden; /* Bad fix!!! */
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -999;
}

.typed {
    visibility: hidden;
}

#heading {
    font-family: 'Toshiba Sat 8x14';
    margin: 5px;

    font-size: 10vw;
    mix-blend-mode: difference;
    color: white;
}

.cursor {
    background-color: white;
    width: 20px;
    animation: blink 500ms step-end infinite alternate;
}

@keyframes blink {
    from, to {
        background-color: transparent;
        color: transparent;
    }

    50% {
        background-color: white;
        color: white;
    }
}

p {
    font-family: 'Toshiba Sat 8x14';
    font-size: min(5vw, 3em);
    margin-left: 10px;
}

.github_icon {
    height: 5vw;
    transform: translateY(20%);
    mix-blend-mode: difference;
}

.email-symbol {
    font-family: 'Material Symbols Rounded';
}

a {
    text-decoration: none;
    border-bottom: 2px dashed #FB46EA;
    color: #848EFF;
}

a::before {
    content: "🔗 ";
}

a:hover {
    border-bottom: 2px solid #3748dc;
}