body {
    background-color: var(--mcolor);
    color: var(--mcontrast);
    transition: 500ms;

    overflow-x: hidden; /* Bad fix!!! */
}

h1 {
    font-family: 'Signika Negative';
    color: white;
    mix-blend-mode: difference;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container .card {
    max-height: 80vh;
    width: 98vw;
    padding: 10px;
    overflow-y: auto;

    color: var(--mcontrast);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-top: 2px dashed var(--mcontrast);
    font-size: larger;
    font-weight: bolder;
}

/* hide Scrollbar Webkit */
.container .card::-webkit-scrollbar {
    display: none;
}

.container .card object {
    width: 50px;
}

.container .card p,
ul {
    font-family: 'Toshiba Sat 8x14';
    font-size: 15px;
}

a::before {
    content: "🔗 ";
}

a {
    text-decoration: none;
    color: #848EFF;
    font-size: 120%;
    border-bottom: 2px dashed #FB46EA;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -999;
}